<br/><br/>
    <div class="login-form-bg h-100">
      <div class="container h-100">
          <div class="row justify-content-center h-100">
              <div class="col-xl-6">
                  <div class="form-input-content">
                      <div class="card login-form mb-0">
                          <div class="card-body pt-5">
                              <a class="text-center" href="index.html"> <h3 class="mb-0">פתחון לב</h3></a>
      
                              <form class="mt-5 mb-5 login-input">
                                  <div class="form-group">
                                    <input  type="email" class="form-control" >

                                      <input [(ngModel)]="username" type="email" name="username" id="username" valname="username" id="username" value="haleli.alc@gmail.com"ue="" class="form-control" placeholder="דואר אלקטרוני">
                                  </div>
                                  <div class="form-group">
                                    
                                      <input  [(ngModel)]="password" name="password" type="password" value="1" class="form-control" placeholder="סיסמא">
                                      
                                      
                                  </div>
                                  <button type="button" class="btn mb-1 btn-dark h-50 w-100 " (click)="Loggin()">התחבר</button>
                              </form>
                             
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
